#logo {
  background-color: transparent;
  cursor: move;
  opacity: 0.75;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#logo:hover {
  opacity: 0.95;
  transition-delay: 0;
}

#controls {
  /* Appearance */
  background-color: black;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 1;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.75;
  transition-delay: 0;
}


